body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  margin: 0 auto;
  text-align: justify;
  background-color: $--meiiku-cOrange;
  width: 90%;
  margin: 0 auto;
}

// マージン・パディング
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 56px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

// 要素中央揃え
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// 箇条書きスタイル消す
ul {
  padding: 0;
}
li {
  list-style: none;
}

// emシリーズ

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}

//　レイアウト確認
body {
  display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 200px 1fr 100px;
	grid-gap: 30px;
  // grid-template-areas:
  //   "header header header header header header"
  //   "main main main main main side-bar"
  //   "footer footer footer footer footer footer";
}

aside,
footer,
header,
main {
  border: dashed 1px #333;
}

header {
	grid-row: 1/2;
	grid-column: 1/3;

  // grid-area: header;
	padding-top: 30px;
}

main {
	grid-row: 2/3;
	grid-column: 1/2;
  background-color: rgb(36, 104, 131);
  // grid-area: main;

}

aside {
  // background-color: pink;
  // grid-area: side-bar;
	grid-row: 2/3;
	grid-column: 2/3;
}

footer {
  background-color: #fff;
  // grid-area: footer;
	grid-row: 3/4;
	grid-column: 1/3;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.header-title {
  display: flex;
}

// header -> wrapper
.text-wrapper{
	margin: 10px 50px;
	p{
		font-size: 1.25em;
		margin: 0;
	}
	h1{
		font-size: 1.75em;
		letter-spacing: 0em;
	}
}


// nav-menu
.nav-menu {
  display: flex;
	justify-content: space-around;
	font-family: "M PLUS Rounded 1c","Noto Sans JP",sans-serif;
}

.nav-item{
	flex:1/6;
	padding: 0 10px;
	border-right:#333 dashed 1px;
	text-align: center;
	&:last-child{
		border: none;
	}
	h2,p{
		margin: 0;
	}
	h2{
		font-size: 1.25em;
	}
	p{
		font-size: 0.75em;
		letter-spacing: -0.1em;
	}
}

// button
.button {
  width: 200px;
  height: 45px;
  border-radius: 22.5px;
  border: none;
  font-size: 1.25em;
  text-align: center;
  line-height: 45px;
	a{
		display: block;
	}
}

.info {
  display: flex;
  li:first-child {
    margin-right: 10px;
  }
}

.button-login {
  color: #fff;
  background-color: #c3a965;
	a{
		color: #fff;
	}
	&:hover{
		background-color: #ffdd04;
	}
}
.button-register {
  background-color: #f2e24c;
	&:hover{
		background-color: #ffee01;
	}
}
.button-troubled {
  display: inline-block;
  background-color: #d44e62;
  color: #fff;
  height: 50px;
  width: 250px;
	&:hover{
		background-color: #ff5e00;
	}
}
.for-troubled {
  margin-top: 15px;
  text-align: right;
}
.button-troubled__heading {
  margin: 0;
  font-size: 1.25em;
  line-height: 35px;
  ::after {
    display: block;
    content: "「困ったとき」のホットライン紹介";
    font-size: 0.5em;
    position: absolute;
		right:101px;
    text-align: center;
    margin-top: 4px;
  }
}

// hero-area

.hero-area__title-wrapper{
	background: linear-gradient(
		$--meiiku-cBlue 50%,
		$--meiiku-cPink 50% 100%
		);
}

.hero-area__age-list{
	display: flex;
	justify-content: space-around;
	padding-top: 50px;

	ul{
		display: flex;
		justify-content: center;
		padding: 20px;
		li{
			padding: 5px;
			width: 120px;
		}
		img{
			width: 100%;
		}
	}
}

.hero-area__heading{
	text-align: center;
	img{
		width: 120px;
	}
}






// side-bar
aside{
	padding:20px;
	img{
		width: 100%;
	}
}
